{% extends 'index.html' %}

{% block navigation %}
    <li><a href="/sites"><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;Websites</a></li>
    <li><a href="/add_website"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Website</a> </li>
    <li><a href="/visits"><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;View Visits</a></li>
{% endblock %}

{% block navigation_right %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Logout</a></li>
    </ul>
{% endblock %}


{% block content %}

    <h2>Hi {{ username }}!</h2>
    <table class="table table-responsive table-striped">
    <tr>
        <th>Id</th>
        <th>Website</th>
    </tr>
    {% for item in query_results %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.base_url }}</td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}